
@media (max-width: 425px) {
	body{
background-color:red;
}
	.rd-navbar-brand .brand-name{
		font-size:21px;
	}
	div.swiper-container.swiper-slider.swiper-container-horizontal.swiper-container-android{
	display:none;
	}
	.mobile-slider{
	display:block;
	}
}

@media (min-width: 426px) {
	body{
background-color:blue;
}
	.swiper-container .swiper-slider{
	display:block;
	}
	.mobile-slider{
	display:none;
	}
}

