
@media and screen(max-width: 420px){
	body{
background-color:red;
}
/* 	.rd-navbar-brand .brand-name{
		font-size:21px;
	}
	.swiper-contrainer{
	display:none;
	}
	.mobile-swiper{
	display:block;
	} */
}
@media and screen(min-width: 421px){
	body{
background-color:blue;
}
/* 	.swiper-contrainer{
	display:block;
	}
	.mobile-swiper{
	display:none;
	} */
}
