.mobile-fridge {
  width:100%;
  height: auto;
}
@media (max-width: 425px) {
	body{
background-color:red;
}
	.rd-navbar-brand .brand-name{
		font-size:21px;
	}
	div.swiper-container.swiper-slider.swiper-container-horizontal.swiper-container-android{
	display:none;
	}
	div.mobile-slider{
	display:block;
	}
}

@media (min-width: 426px) {
	body{
background-color:blue;
}
	div.swiper-container.swiper-slider.swiper-container-horizontal.swiper-container-android{
	display:block;
	}
	div.mobile-slider{
	display:none;
	}
}

