//Calendar
section.section-50.section-sm-bottom-100.text-center
	h3 Book an appointment
	.container.text-center.text-lg-left.offset-top-30.offset-sm-top-50
		// RD Calendar
		.rd-calendar#chapters-select
			.rdc-panel.text-center
				a.rdc-prev
				span.rdc-month.text-base.font-default.text-bold
				span &nbsp;
				span.rdc-fullyear.text-base.font-default.text-bold
				a.rdc-next
			.rdc-table
			.rdc-events
				a.rdc-events_close
				ul.list-unstyled
					li.rdc-event(data-date='09/15/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments:
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
					li.rdc-event(data-date='06/16/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments 16:
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
					li.rdc-event(data-date='06/20/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments 20:
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
					li.rdc-event(data-date='06/23/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments: 23
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
					li.rdc-event(data-date='08/14/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments:
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
					li.rdc-event(data-date='08/20/2019')
						table.table
							thead
								tr
									th(colspan="3"): .h4 Available Appointments:
							tbody
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 10:00 am - 11:00 am
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 11:10 am - 12:10 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr.disabled
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 12:20 pm - 1:20 pm
									td 0 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 1:30 pm - 2:30 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 2:40 pm - 3:40 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 3:50 pm - 4:50 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment
								tr
									td
										span.icon.text-gray.fa-clock-o
										time(datetime="2019") 5:00 pm - 6:00 pm
									td 2 time slots available
									td: button.btn.btn-sm.btn-primary.text-white(data-toggle="modal" data-target="#appointment") Book an Appointment

		// Modal
		#appointment.modal.fade(role='dialog').text-left
			.modal-dialog
				// Modal content
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal'): span.icon.icon-light.icon-xxs.fa-close
						h5.modal-title.text-uppercase.text-base Request Appointment
					.modal-body
						.form-group.group-lg
							span.text-bold
								span.icon.fa-calendar
								| &nbsp; May 26, 2019
							span.text-bold
								span.icon.fa-clock-o
								| &nbsp; 10:00 am
						.radio.offset-top-20
							label
								input( type="radio" name="optradio" value='register' checked='checked')
								| I am a new customer
						.radio
							label
								input( type="radio" name="optradio" value='login' )
								| I am a current customer
						hr.hr.hr-fullwidth.hr-gray
						.register-form
							h5.text-base Registration

							// Login form
							form.offset-top-10
								.form-group
									label.form-label(for="name-2") Username or e-mail
									input#name-2.form-control(type="text" name="name" )
								.form-group
									label.form-label(for="email") E-mail
									input#email.form-control(type="email" name="email" )
								.form-group
									label.form-label(for="password-2") Password
									input#password-2.form-control(type="password" name="password" )
								.form-group-btn
									button(type="submit").btn.btn-primary-variant-2.btn-sm.btn-min-width-xs Enter

									.group-sm.offset-top-25
										a.btn.btn-sm.btn-facebook.text-white.fa-facebook.btn-min-width-xs(href="#")
										a.btn.btn-sm.btn-twitter.text-white.fa-twitter.btn-min-width-xs(href="#")
										a.btn.btn-sm.btn-google-plus.text-white.fa-google-plus.btn-min-width-xs(href="#")
						.login-form
							h5.text-base Login

							// Login form
							form.offset-top-10
								.form-group
									label.form-label(for="name") Username or e-mail
									input#name.form-control(type="text" name="name" )
								.form-group
									label.form-label(for="password") Password
									input#password.form-control(type="password" name="password" )
								.form-group-btn
									button(type="submit").btn.btn-primary-variant-2.btn-sm.btn-min-width-xs Enter

									.group-sm.offset-top-25
										a.btn.btn-sm.btn-facebook.text-white.fa-facebook.btn-min-width-xs(href="#")
										a.btn.btn-sm.btn-twitter.text-white.fa-twitter.btn-min-width-xs(href="#")
										a.btn.btn-sm.btn-google-plus.text-white.fa-google-plus.btn-min-width-xs(href="#")
