section.section-inset-1
  .container
    h6= elements.typography.h_el_13
    .row.offset-5
      .col-xs-12
        .media-mod-3
          .media-body.text-sm-left
            p= elements.typography.p_el_5
          .media-right
            img(src="images/typography-4.jpg" alt="" width="470" height="260")