section.section-top-50.section-sm-top-80.text-center.text-sm-left
	h4 Typography
	.offset-top-12
		h1 Our plumbing company offers a variety of services for commercial companies.
		p.text-sm-left Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.

		h2.offset-top-40 Our plumbing company offers a variety of services for commercial companies.
		p.text-sm-left Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.

		h3.offset-top-40 Our plumbing company offers a variety of services for commercial companies.
		p.text-sm-left Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.

		h4.offset-top-45 Our plumbing company offers a variety of services for commercial companies.
		p.text-sm-left Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.

		h5.offset-top-45 Our plumbing company offers a variety of services for commercial companies.

		h6.offset-top-45 Our plumbing company offers a variety of services for commercial companies.

		hr.hr-gray.hr-fullwidth.offset-top-50

section.section-top-55.text-left
	h4 Unordered list
	ul.list.list-marked.text-left.offset-top-22
		li Commercial Plumbing
		li Water Damage Restoration
		li Emergency Plumber
		li Outdoor Plumbing
		li Kitchen Plumbing
		li Bathroom Plumbing
		li Basement Plumbing
		li Laundry Room Plumbing

	hr.hr-gray.hr-fullwidth.offset-top-50
section.section-top-55.text-left
	h4 Ordered list
	ol.list.list-index.text-left.offset-top-22
		li
			span.list-index-counter.text-bottom
			span.text-bottom Commercial Plumbing
		li
			span.list-index-counter.text-bottom
			span.text-bottom Water Damage Restoration
		li
			span.list-index-counter.text-bottom
			span.text-bottom Emergency Plumber
		li
			span.list-index-counter.text-bottom
			span.text-bottom Outdoor Plumbing
		li
			span.list-index-counter.text-bottom
			span.text-bottom Kitchen Plumbing
		li
			span.list-index-counter.text-bottom
			span.text-bottom Bathroom Plumbing
		li
			span.list-index-counter.text-bottom
			span.text-bottom Basement Plumbing
		li
			span.list-index-counter.text-bottom
			span.text-bottom Laundry Room Plumbing
	hr.hr-gray.hr-fullwidth.offset-top-50

section.section-top-55.text-center.text-sm-left
	h4 Blockquotes
	blockquote.quote-1.offset-top-34.text-xs-left
		p
			q My plumbing is all screwed up. Because it turns out, I do not own a garbage disposal.
		p
			cite Elisa Maryhood
	hr.hr-gray.hr-fullwidth.offset-top-50
section.section-top-55.text-left
	h4 Some other styles
	.offset-top-20
		p
			span Bold Text:&nbsp;
			span.text-bold Whether you found me on YouTube
		.offset-top-15
			p
				span Italic:&nbsp;
				span.text-italic Whether you found me on YouTube
		.offset-top-15
			p
				span Strike-through:&nbsp;
				del Whether you found me on YouTube
		.offset-top-15
			p
				span Link:&nbsp;
				a(href="#") Whether you found me on YouTube
		.offset-top-15
			p
				span Inline Code:&nbsp;
				mark Whether you found me on YouTube
		hr.hr-gray.hr-fullwidth.offset-top-50
section.section-top-55.text-center.text-sm-left
	h4 Center aligned image
	.text-center.offset-top-34
		+jpg('typo-1-600x400','img-responsive')
	p.offset-top-34 Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.
	hr.hr-gray.hr-fullwidth.offset-top-50
section.section-top-55.text-center.text-sm-left
	h4 Left aligned image
	.unit.unit-sm-horizontal.unit-spacing-md.offset-top-34
		.unit-left
			+jpg('typo-2-385x257','img-responsive')
		.unit-body
			p Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign. So usually this (relatively) simple process complicates things to decide, like choosing a faucet, to proper plumbing and selecting a vanity. The following tips are designed to help you make the most of your new bathroom looks...
	hr.hr-gray.hr-fullwidth.offset-top-50
section.section-top-55.text-center.text-sm-left
	h4 Right aligned image
	.unit.unit-sm-horizontal.unit-spacing-md.offset-top-34
		.unit-body
			p Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign. So usually this (relatively) simple process complicates things to decide, like choosing a faucet, to proper plumbing and selecting a vanity. The following tips are designed to help you make the most of your new bathroom looks...
		.unit-right
			+jpg('typo-2-385x257','img-responsive')
	hr.hr-gray.hr-fullwidth.offset-top-50

section.section-top-55.section-bottom-78.text-center.text-sm-left
	h4 Large image
	.text-center.offset-top-34
		+jpg('typo-3-770x514','img-responsive img-fullwidth')
	p.offset-top-34 Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There's a whole multitude of different decisions that need to be taken when we're talking about a bathroom redesign.
