section.section-inset-1
  .container
    h6= elements.typography.h_el_11
    .row.offset-5
      .col-xs-12
        .thumbnail
          img(src="images/typography-2.jpg" alt="")
          .caption-mod-3
            span.text-gray= elements.typography.p_el_4
            p.text-sm-left= elements.typography.p_el_2