/* Breadcrumb*/

.breadcrumb {
  padding: 6px 15px 9px;
  margin-bottom: 0;
  background: transparent;
  @media (min-width: $screen-lg-min) {
    padding-left: 0;
    padding-right: 0;
  }

  > li {
    color: $gray-base;
    font-size: 13px;
    &:after {
      content: '/';
      padding: 0 25px;
      font-size: 13px;
    }
    &:last-of-type{
      &:after {
        display: none;
      }
    }
    & + li {
      &:before {
        display: none;
      }
    }
  }
}