//
// Custom Buttons Styles
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  transition: .3s ease-out;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family-base;
  border-width: 2px;
  border-radius: $border-radius-small;



  &:focus,
  &:active,
  &:active:focus{
    outline: none;
  }


  &,
  &:active,
  &.active {
    &:focus,
    &.focus {

    }
  }

  &:hover,
  &:focus,
  &.focus {

  }

  &:active,
  &.active {
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  border-width: 1px;
  @include button-variant-custom($gray-darker, transparent, $gray-base, $white, $gray-darker, $gray-darker);
}

.btn-primary {
  @include button-variant-custom($white, $brand-primary, $brand-primary, $brand-primary, transparent, $brand-primary);

  //&.btn.text-white{
  //  &:focus{
  //    color: $white;
  //  }
  //  &:hover{
  //    color: $white;
  //  }
  //}
}
.btn-white {
  @include button-variant-custom($white, transparent, rgba($white,.5), $brand-primary, $white, $white);
}
.btn-white-variant-1 {
  @include button-variant-custom($brand-primary, $white, rgba($white,.5), $white, transparent, $white);
}

.btn-primary-variant-1 {
  @include button-variant-custom($gray-dark, transparent, #86c8fd, $white, $brand-primary, $brand-primary);

  &.btn.text-white{
    &:focus{
      color: $white;
      background-color: transparent;
    }
    &:hover{
      color: $white;
    }
  }
}
.btn-primary-variant-2 {
  @include button-variant-custom($brand-primary, transparent, $brand-primary, $white, $brand-primary, $brand-primary);

  &.btn.text-white{
    &:focus{
      color: $white;
      background-color: transparent;
    }
    &:hover{
      color: $white;
    }
  }
}

.btn-facebook {
  @include button-variant-custom($gray-dark, #547abb, #547abb, $gray-dark, darken(#547abb,15%),  darken(#547abb,15%));
  &.btn.text-white{
    &:focus{
      color: $white;
    }
    &:hover{
      color: $white;
    }
  }
}
.btn-twitter {
  @include button-variant-custom($gray-dark, #14a5eb, #14a5eb, $gray-dark,  darken(#14a5eb,15%),  darken(#14a5eb,15%));
  &.btn.text-white{
    &:focus{
      color: $white;
    }
    &:hover{
      color: $white;
    }
  }
}
.btn-google-plus{
  @include button-variant-custom($gray-dark, #e75854, #e75854, $gray-dark,  darken(#e75854,15%),  darken(#e75854,15%));
  &.btn.text-white{
    &:focus{
      color: $white;
    }
    &:hover{
      color: $white;
    }
  }
}


// Success appears as green
.btn-success {

}

// Info appears as blue-green
.btn-info {

}

// Warning appears as orange
.btn-warning {

}

// Danger and error appear as red
.btn-danger {

}


// Button Sizes
// --------------------------------------------------

.btn-xs {
  font-size: 12px;
  font-weight: 400;
  padding: 6.5px 15px 6.5px;
}

.btn-sm {
  font-size: 13px;
  line-height: 23px;
  border-radius: 2px;
  padding: 6.5px 15px 6.5px;
}

.btn-md {
  font-size: 13px;
  line-height: 23px;
  padding: 12px 31px 12px;
  border-radius: 2px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.8;
  padding: 16.5px 43px;
}

.btn-tags{
  font-size: 11px;
  font-weight: 600;
  padding: 7px 18px 7px;
  border-radius: $border-radius-small;
}

.btn-min-width {
  min-width: 125px;
}
.btn-min-width-xs {
  min-width: 95px;
}
.btn-min-width-sm{
  min-width: 150px;
}
.btn-min-width-contact{
  min-width: 170px;
}

.btn-min-width-md{
  min-width: 200px;
}

.btn-min-width-lg{
  min-width: 220px;
}

.btn-min-width-icon{
  min-width: 161px;
}

.btn-fullwidth{
  width: 100%;
}


// Button Shapes
// --------------------------------------------------

.btn-rect {
  border-radius: 0;
}

.btn-shape-default {
  border-radius: $border-radius-large;
}

.btn-shape-round {
  border-radius: $border-radius-xl;
}

.btn-shape-square {
  border-radius: 0;
}

.btn-shape-circle{
  border-radius: 35px;
}

.btn-shadow {
  box-shadow: $shadow-area-ambient;
}


// Button Icon styles
// --------------------------------------------------

.btn{

  &.btn-icon {
    padding-left: 21px;
    padding-right: 21px;

    .icon {
      font-size: 25px;
      line-height: 17px;
      vertical-align: top;
      transition: 0s;
    }
    .icon-md{
      line-height: 22px;
    }
    .icon-xs{
      font-size: 18px;
      line-height: 22px;
    }

    &-left{
      .icon{
        float: left;
        padding-right: 10px;

      }
    }

    &-right{
      .icon{
        float: right;
        padding-left: 10px;

      }
    }

  }
}

// button link
//--------------------------------------------------------
.btn-link{
  position: relative;
  display: inline-block;
  font-size: 13px;
  padding: 0;
  font-weight: 700;
  border: none;
}
.btn-link-primary{
  color: $brand-primary;
  
  &:focus{
    color: $brand-primary;
  }
  &:hover{
    color: $gray-dark;
  }
}

.btn-link-variant-1{
  text-transform: uppercase;
  font-family: $font-family-sec;
  font-weight: 700;
  letter-spacing: 0.15em;
  padding: 0;
  &:before,
  &:after {
    position: relative;
    z-index: 2;
    content: "";
    display: inline-block;
    margin: 0 11px;
    width: 6px;
    height: 6px;
    background-color: $gray-darker;
    vertical-align: middle;
    @include transform(rotate(45deg));
    pointer-events: none;
  }
}