//
// Dividers
// --------------------------------------------------

// Hr
// --------------------------------------------------

.hr {
  display: inline-block;
  height: $hr-height;
  padding: $hr-padding;
  margin-top: $hr-offset-top;
  margin-bottom: $hr-offset-bottom;
  background: $gray-lighter;
  border: none;
}

.hr-dashed {
  height: $hr-dashed-height;
  border-bottom: $hr-dashed-border-bottom;
  background-color: $hr-dashed-background;
}

.hr-gradient {
  @include divider-gradient($white, $gray);
}

.hr-gray {
  border-top: 1px solid rgba(#eeeeee,1);
}

.hr-primary {
  border-top: 3px solid $brand-primary;
}


.hr-fullwidth {
  width: 100%;
  background-repeat: repeat;
}



// Text Subline
// --------------------------------------------------

.text-subline {
  position: relative;
  height: $text-subline-height;
  padding: $text-subline-padding;
  background: $text-subline-background;
  border: none;

  &:before {
    content: '';
    position: absolute;
    top: $text-subline-before-position-top;
    left: $text-subline-before-position-left;
    height: $text-subline-before-height;
    width: $text-subline-before-width;
    background: $text-subline-before-background;
  }
}

.text-subline-variant-2 {
  position: relative;
  height: $text-subline-height;
  padding: $text-subline-padding;
  background: $text-subline-background;
  border: none;
}

// Divider
// --------------------------------------------------

// Base Styles

.divider {
  width: $divider-width;
  height: $divider-height;
  padding: $divider-padding;
  margin: $divider-offsets;
  background: $divider-background;
  border: none;
}

.divider-vertical {
  width: $divider-vertical-width;
  height: $divider-vertical-height;
  background: $divider-vertical-background;
}

// Sizing

.divider-xs {
  width: $divider-xs-width;
  height: $divider-xs-height;
}

.divider-sm {
  width: $divider-sm-width;
}

.divider-lg {
  width: $divider-lg-width;
  height: $divider-lg-height;
}

.divider-xl {
  width: 325px;
}

// Styles

@include indent-responsive(hr, null, (margin-left, margin-right), (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), auto);
@include indent-responsive(hr, left, margin-left, (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), 0);
@include indent-responsive(hr, right, margin-right, (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl), 0);

// Custom divider
//------------------------

.header-divider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  @media (min-width: $screen-sm-min) {
    &:before,
    &:after {
      position: absolute;
      top: 23%;
      @include transform(translateY(-50%) rotate(45deg));
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: $gray-lightener;
      z-index: 1;
    }
    &:before {
      left: 1px;
    }
    &:after {
      right: 1px;
    }
  }
  .font-logo {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      content: "";
      display: inline-block;
      width: 100vw;
      height: 1px;
      border-top: 1px solid rgba($white, .3);
    }
    &:before {
      left: 130%;
    }
    &:after {
      right: 130%;
    }
  }
}