// jumbotron
//------------------------------------

.jumbotron-custom {
  position: absolute;
  z-index: 10;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  color: $white;
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  hr{
    display: none;
  }
  p{
    line-height: 24px;
  }


  .desktop & {
    @media (min-width: $screen-sm-min) {
      top: 259px;
    }
    @media (min-width: 1300px) {
      top: 291px;
    }
  }
  @media (min-width: $screen-sm-min) {
    max-width: 60%;

    .font-logo{
      position: relative;
      &:before,
      &:after {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        content: "";
        display: inline-block;
        width: 100vw;
        height: 1px;
        background-color: rgba($white,.4);
      }
      &:before{
        left: 110%;
      }
      &:after {
        right: 110%;
      }
    }
    .jumbotron-link-secondary{
      display: none;
    }

  }
  @media (min-width: 1300px) {
    //@include justify-content(flex-end);
    max-width: 1032px;
  }

  &-mod-1 {
    position: relative;
    left: auto;
    right: auto;

    .jumbotron-inner {
      right: 0;

      img{
        margin-top: 0;
      }
    }
    .jumbotron-link{
      padding: 38px 0;

      @media (min-width: $screen-lg-min) {
        &:first-of-type {
          padding-top: 42px;
        }
      }
    }
  }
}

.jumbotron-inner {
  position: relative;
  @include display-flex;
  @include justify-content(center);
  @include flex-wrap(wrap);
  width: 100%;
  margin-top: 15px;


 >  * + * {
    margin-left: 40px;
  }
  img{
    display: none;
  }

  @media (min-width: $screen-sm-min) {
    max-width: 225px;

    * + * {
      margin-left: 0;
    }
    img{
      display: block;
    }
    &:before{
      display: none;
    }
  }
  @media (min-width: 1300px) {
    max-height: none;
    margin-top: 64px;
  }
}

.jumbotron-link{
  position: relative;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include align-items(center);
  font-weight: 700;
  font-size: 14px;
  transition: 250ms;
  width: 100px;
  height: 100px;
  padding-bottom: 12px;
  font-family: $font-family-sec;

  > span{
    position: relative;
    z-index: 1;
  }

  span.icon {
    display: block;
    font-size: 22px;
  }

  &:before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    display: inline-block;
    background-color: rgba($black, .3);
    @include transform(rotate(45deg));
    z-index: 0;
  }

  &-primary{

  }
  &-secondary{
    span.icon {

    }
  }

  &:focus {
    color: $brand-primary;
  }

  &:hover{
    color: $link-hover-color;
    &:before{
      content: "";
      display: inline-block;
      background-color: $white;
    }
  }

  @media (min-width: $screen-sm-min) {
    width: 130px;
    height: 130px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 0;

    &-primary{
      position: relative;

      &:before{
        position: absolute;
        content: "";
        display: inline-block;
        background-color: transparent;

      }
      &:after{
        top: -101px;
        left: -97px;
        position: absolute;
        content: "";
        display: inline-block;
        background-image: url("../images/jumbotron-img-1.png");
        background-repeat: no-repeat;
        background-position: center;
        min-height: 354px;
        min-width: 327px;
        pointer-events: none;
      }
      span.icon {
        font-size: 48px;
      }
    }
    &-secondary{
      span.icon {
        font-size: 30px;
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    font-size: 18px;
  }
}
.page{
  .jumbotron-link-section {
    display: none;
    @media (min-width: $screen-sm-min) {

      @include display-flex;
      margin: -79px auto 0;
      width: 100px;
      height: 100px;
      font-size: 14px;
      text-align: center;
      z-index: 11;
      &:before{
        background-color: $gray-dark;
        outline: 2px solid $brand-primary;
        border: 1px solid rgba($brand-primary,.4);
        z-index: 1;
      }
      span{
        z-index: 2;
      }
      &:hover{
       &:before{
         background-color: $white;
       }
      }
    }
    @media (min-width: $screen-lg-min) {

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        width: 100vw;
        max-width: 830px;
        content: '';
        display: inline-block;
        border-top: 1px solid $brand-primary;
      }
    }
  }
}
