//
// Pager pagination
// --------------------------------------------------

.pager {
  li {
    > a,
    > span {
      position: relative;
      transition: .3s;
      padding: 4.5px 16.4px 5.5px;
      font-weight: $btn-font-weight-small;
      font-size: $font-size-base;
      line-height: $btn-lh-size-small;
      color: $gray-base;
      font-family: $font-family-sec;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      border-radius: $border-radius-base;
      border:none;
      min-width: 88px;
      > span {
        width: 26px;
      }
    }

    > a:hover,
    > a:focus,
    > a:active,
    > a:active:focus{
      background-color: transparent;
      color: $brand-primary;
      .icon{
        color: $gray-dark;

        &:after {
          background-color: $brand-primary;
          border-color: $brand-primary;
        }
      }
    }
    &.previous{
      > a,
      > span {
        margin-left: 25px;
      }
    }
    &.next {
      > a,
      > span {
        margin-right: 25px;
      }
    }
  }

  .icon-left,
  .icon-right{
    position: absolute;
    top: 5px;
    width: 24px;
    height: 24px;
    z-index: 1;
    font: 400 30px/24px $material;
    color: $gray-base;
    background-color: $body-bg;
    &:before{
      position: relative;
      z-index: 1;
      font-weight: 400;
      //line-height: 34px;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include transform(rotate(45deg));
      content: '';
      display: inline-block;
      border: 1px solid rgba($white,.3);
      transition:250ms;
      z-index: 0;
    }
  }

  .icon-left{
    left: -26px;
    &:before{
      left: -4px;
    }
  }

  .icon-right{
    right: -24px;
    &:before{
      right: 2px;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $pager-disabled-color;
      background-color: $pager-disabled-bg;
      border-color: $pager-disabled-border;
    }
  }
}

.pager-sm{
  li {
    > a,
    > span {
      padding: $padding-xs-vertical $padding-xs-horizontal/2;
      font-weight: $btn-font-weight-xs;
      font-size: $btn-font-size-xs;
      line-height: $btn-lh-size-xs;
    }
  }

  .icon-left,
  .icon-right{
    line-height: $btn-lh-size-xs;
  }
}

.pager-lg{
  li {
    > a,
    > span {
      padding: $padding-base-vertical $padding-base-horizontal;
      font-weight: $btn-font-weight;
      font-size: $btn-font-size;
      line-height: $btn-lh-size;
    }
  }

  .icon-left,
  .icon-right{
    font-size: $btn-font-size;
    line-height: $btn-lh-size;
  }
}