// Table reserv
//----------------------------
@media (min-width: $screen-sm-min) {
  .desktop {
    .table-reserv-module-1{
      display: none;
    }
  }
}

@media (max-width: $screen-sm-min - 1) {
  .table-reserv-module-2{
    display: none;
  }
}

.tablet,
.mobile{
  .table-reserv-module-2{
    display: none;
  }
}


.table-reserv-module-2{
  .table-reserv-module-inner-1,
  img{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  @media (min-width: $screen-lg-min) {
    .table-reserv-module-inner-1,
    img{
      max-width: none;
    }
  }
}
.table-1,
.table-2{
  width: 39px;
  height: 51px;
  line-height: 49px;
  @media (min-width: $screen-lg-min) {
    width: 62px;
    height: 82px;
    line-height: 80px;
  }

}
.table-3,
.table-4,
.table-5,
.table-6,
.table-7,
.table-8{
  width: 33px;
  height: 76px;
  line-height: 74px;
  @media (min-width: $screen-lg-min) {
    width: 54px;
    height: 124px;
    line-height: 122px;
  }
}
.table-9,
.table-10,
.table-11,
.table-12,
.table-13 {
  width: 53px;
  height: 33px;
  line-height: 32px;
  @media (min-width: $screen-lg-min) {
    width: 84px;
    height: 53px;
    line-height: 50px;
  }

}
.table-1,
.table-2{
  left: 34px;
}

.table-1  {top: 37px;}
.table-2  {top: 140px;}

.table-3,
.table-4,
.table-5,
.table-6,
.table-7,
.table-8{
  top: 5px;
}

.table-3 { left: 225px; }
.table-4 { left: 314px; }
.table-5 { left: 402px; }
.table-6 { left: 492px; }
.table-7 { left: 581px; }
.table-8 { left: 670px; }

.table-9,
.table-10 {
  left: 117px;
}
.table-11,
.table-9{
  bottom: 173px;
}
.table-12,
.table-10 {
  bottom: 95px;}

.table-11,
.table-12,
.table-13{
  left: 189px;
}
.table-13{
  bottom: 21px;
}
@media (min-width: $screen-lg-min) {
  .table-1,
  .table-2{
    left: 56px;
  }

  .table-1  {top: 60px;}
  .table-2  {top: 228px;}

  .table-3,
  .table-4,
  .table-5,
  .table-6,
  .table-7,
  .table-8{
    top: 8px;
  }

  .table-3 { left: 366px; }
  .table-4 { left: 510px; }
  .table-5 { left: 654px; }
  .table-6 { left: 800px; }
  .table-7 { left: 944px; }
  .table-8 { left: 1089px; }

  .table-9,
  .table-10 {
    left: 190px;
  }
  .table-11,
  .table-9{
    bottom: 281px;
  }
  .table-12,
  .table-10 {
    bottom: 154px;}

  .table-11,
  .table-12,
  .table-13{
    left: 307px;
  }
  .table-13{
    bottom: 34px;
  }
}

.table-reserv-module-inner-1 {
  position: relative;

  > [class*='table']{
    position: absolute;
    transition:250ms;
    cursor: pointer;
    background-color: $gray-lightener;
    color: $gray-dark;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    text-align: center;
    opacity: 0;

    &:hover{
      opacity: 1;
    }
  }
}