// Tabale custom
//---------------------------------
.table{
  thead{
    tr{
      th{
        border-width: 1px;
      }
    }
  }
}

.table-list {
  thead {
    display: none;
  }
  thead,
  tbody {
    tr {
      th,
      td {
        display: inline-block;
        width: 49%;
        border-bottom: none;
        border-top: none;
        padding: 5px 0;
      }
    }
  }
  tbody {
    tr {
      td:nth-child(n+3){
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($white, .1);
      }
      & + tr {
        td:nth-child(1),
        td:nth-child(2) {
          padding-top: 15px;
        }
      }
      td:nth-child(3){
        &:before{
          content: "Glass: \00A0";
          display: inline-block;
          color: $gray-base;
          font-weight: 400;
        }
      }
      td:nth-child(4){
        &:before{
          content: "Bottle: \00A0";
          display: inline-block;
          color: $gray-base;
          font-weight: 400;
        }
      }
      &.heading {
        td {
          padding: 0;
        }
      }
    }
    .body-info + .heading {
      td {
        padding-top: 38px;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    thead {
      display: table-header-group;
    }

    thead,
    tbody {
      tr {
        th,
        td {
          display: table-cell;
          width: auto;
        }
      }
    }
    tbody {
      tr {
        &.body-info.border-bottom {
          td {
            padding-bottom: 35px;
            border-bottom: 1px solid rgba($white, .1);
          }
        }
        &.heading {
          td {
            padding: 18px 0;
          }
        }
        td:nth-child(n+3){
          padding-bottom: 5px;
          border-bottom: none;
        }
        & + tr {
          td:nth-child(1),
          td:nth-child(2) {
            padding-top: 5px;
          }
        }
        td:nth-child(3),
        td:nth-child(4){
          &:before{
            display: none;
          }
        }
      }
    }
  }
}