//
// Custom Thumbnails
// --------------------------------------------------

.thumbnail {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;

  .caption {
    padding: 0;
    color: $gray-base;
  }
}

.img-thumbnail,
.thumbnail {
  box-shadow: none;
}

// Make thumbnails to fit entire container width
.thumbnail-block {
  display: block;

  > img,
  a > img {
    width: 100%;
    height: auto;
  }
}

.thumbnail-classic {
  display: inline-block;
  transition: 300ms;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    box-shadow: 0 12px 36px rgba($black, .2);
  }

  &.img-wrap-2 {
    position: relative;
    display: inline-block;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
      display: inline-block;
      text-align: center;
      font-size: 11rem;
      color: $brand-primary;
      cursor: pointer;
      transition: 250ms;
      &:hover {
        @include transform(translate(-50%, -50%) scale(1.1));
      }
    }
  }
}

.img-thumbnail-classic {
  img {
    transition: 250ms;
    will-change: transform;
  }

  &:hover {
    img {
      @include transform(scale(1.03));
    }
  }
}

// Variant
//--------------------------------

.thumbnail-variant-1 {
  height: 100%;
  @include display-flex;
  @include flex-direction(column);
  min-height: 320px;
  padding-top: 20px;
  transition: 250ms;

  .caption {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 22px;
    h3 {
      font-size: 35px;
    }
    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
      padding-right: 50px;
    }

    * + p {
      margin-top: 22px;
    }
  }
  &:hover {
    background-color: $brand-primary;
    * {
      color: $white;
    }
  }
}

.thumbnail-design-element {
  @include display-flex;
  @include justify-content(center);
  position: relative;
  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    border-top: 2px solid $brand-primary;
    width: 173px;
  }
}

.thumbnail-variant-2 {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;

  .caption {
    padding-right: 15px;
    margin-top: 12px;

    * + p {
      margin-top: 18px;
    }
  }
}

.thumbnail-variant-3 {
  position: relative;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  img {
    width: 100%;
    height: auto;
  }
  .caption {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    margin-top: 38px;
    @media (min-width: $screen-sm-min) {
      min-height: 135px;
    }

    * + p {
      margin-top: 15px;
    }
  }
  h6 {
    letter-spacing: 0.1em;
  }
  hr {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

.thumbnail-variant-4 {
  position: relative;
  //max-width: 370px;
  //margin-left: auto;
  //margin-right: auto;
  .caption {
    margin-top: 25px;
    padding: 0 15px 20px;
  }
}

//thumbnail img

.thumbnail-img {
  img {
    width: 100%;
    height: auto;
  }
  .caption {
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
    }
  }
}

//img-thumbnail

.img-thumbnail {
  border: 13px solid $gray-darken;
  padding: 0;
  box-shadow: 0 16px 32px 8px rgba($black, .2);

  img {
    height: auto;
    width: 100%;
  }
}

.img-wrap-mod-2 {
  position: relative;
  display: inline-block;
  //width: 100%;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: inline-block;
    background-color: rgba($black, .5);
    opacity: 0;
    transition: 250ms;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    @include transform(translate(-50%, -50%) scale(0));
    transition: 250ms;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
    .icon {
      @include transform(translate(-50%, -50%) scale(1));
      opacity: 1;
    }
  }
}

.img-max-width-md {
  @media (max-width: 1199px) {
    max-width: 200px;
    height: auto;
  }
}

.img-thumbnail-variant-3 {
  position: relative;
  display: inline-block;
  &:before {
    content: "\f2fd";
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $material;
    color: $white;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    background-color: rgba($black, .78);
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

//thumbnail gallery
//-----------------------------
.thumbnail-gallery {
  position: relative;
  margin-bottom: 0;

  img {
    width: 100%;
    height: auto;
  }

  span.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: inline-block;
    background-color: rgba($black, .6);
    opacity: 0;
    transition: 350ms;
  }

  &:hover {
    span.overlay {
      opacity: 1;
    }
  }
}

