section.section-66.section-sm-top-70.section-sm-bottom-83.text-center
  .shell
    h2 Pricing
    hr.hr.hr-primary.divider-lg
    .range.range-xs-center.range-condensed.offset-top-20
      .cell-xs-12
        // Slick Carousel
        .slick-slider(data-arrows="false", data-loop="false", data-dots="true", data-swipe="true", data-xs-items="1",data-sm-items="1", data-md-items="3", data-lg-items="3",data-center-mode="false",data-center-padding="0")
          .item
            .pricing-table
              .pricing-header
                h4 Commercial Plumbing
              .pricing-value
                span Starting at
                span $100
                span hour
              .pricing-body
                p Our plumbing company offers a variety of services for commercial companies. We do Crawl Space Plumbing, Handicap Plumbing & Copper Piping among everything else...
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now
          .item
            .pricing-table.active
              .pricing-header
                h4 Emergency Plumbing
              .pricing-value
                span Starting at
                span $50
                span hour
              .pricing-body
                p You simply never know when a faucet may go out of order, a pipe freezes or blows up or a water damage happens. Aware of that factor of surprise, our company works on a 24/7/365 schedule!
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now
          .item
            .pricing-table
              .pricing-header
                h4 Outdoor Plumbing
              .pricing-value
                span Starting at
                span $100
                span hour
              .pricing-body
                p Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now
      .cell-xs-12.offset-top-66.offset-sm-top-85
        h3 Easily book any plumbing service, 24/7/365, by simply reaching us at:

        .offset-top-30
          .unit.unit-xs-horizontal.unit-middle.justify-center
            .unit-left
              span.icon.icon-rounded-primary.icon-primary.h3.fa-phone
            .unit-body
              h2: a(href='callto:#').text-dark 555.123.2323
        p.offset-top-27
          span.h5 Cost Starts at:&nbsp;
          span.h3 $99.00
        p.h6.offset-top-15
          span Minimal Duration:&nbsp;
          span.text-bold 1 Hour
