section.section-50.section-sm-top-90.section-sm-bottom-100.text-left
	.shell
		h2 Satisfied customers, have a say!
		hr.hr.hr-primary.divider-lg
		.range.range-xs-center.offset-top-40
			.cell-sm-6.cell-md-4
				blockquote.quote-1.quote-bg-primary
					p
						q When our hotel's building had all water suddenly shut, we virtually were stopped at all of our business operations... Thanks God there was the "PlumberPro" service out there, which helped us out big time!
				p.offset-sm-top-40
					cite.text-normal
						span.h4 Gavin Beave
						span.text-gray.small.display-block Male from United States

			.cell-sm-6.cell-md-4.offset-top-50.offset-sm-top-0
				blockquote.quote-1.quote-bg-primary
					p
						q Having some pipe broken and leaking, right in the middle of cooking a family dinner, that's a problem our family had to deal with recently... Thankfully, these plumbers were fast and keen to help us all out!
				p.offset-sm-top-40
					cite.text-normal
						span.h4 Walter Kindred
						span.text-gray.small.display-block Male from United States

			.cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
				blockquote.quote-1.quote-bg-primary
					p
						q Winter in Wyoming has never been easy... More to that, we've had some of our outdoor pipes frozen. Thankfully, the plumbers whom we called knew what to do and did it in an utmost timely fashion...
				p.offset-sm-top-40
					cite.text-normal
						span.h4 Arthur Hemsworth
						span.text-gray.small.display-block Male from United States
