section.section-50.section-sm-top-80.section-sm-bottom-163.text-center.text-sm-left.bg-section-1
	.shell
		.range.range-xs-center.range-lg-left
			.cell-sm-10.cell-md-8.cell-lg-7
				h2 The fastest and most robust plumbing service in Wyoming!
				hr.hr.hr-primary.divider-lg
				p.offset-top-0 The history of this Wyoming plumbing service goes as far back as 1933. These were the times when Samuel Buick created and patented a first ever automatic machine for cleaning pipes and drains. He called it "PlumberPro" and founded a plumbing service with the initial capital which he earned thanks to his invention!
				p Since then, the plumbing service he founded on par with that invention has stayed in that same family's ownership.
