section.text-center
	.shell-fluid.shell-fluid-mod-1
		.range.range-condensed.range-xs-center.features-list
			.cell-sm-6.cell-lg-3
				a(href="plumbers.html").thumbnail-variant-1.thumbnail-features
					span.icon.icon-xl.text-primary.thin-icon-tint
					.caption
						h3.text-primary  Experience
						p.text-base While our team is not that big, their totaling experience is so huge, that they fix plumbing issues just by looking at them!
			.cell-sm-6.cell-lg-3
				a(href="services.html").thumbnail-variant-1.thumbnail-features
					span.icon.icon-xl.text-primary.thin-icon-key
					.caption
						h3.text-primary Tools
						p.text-base We have all the industry standard tools and we're regularly updating our stock with the latest plumbing equipment!
			.cell-sm-6.cell-lg-3
				a(href="contact.html").thumbnail-variant-1.thumbnail-features
					span.icon.icon-xl.text-primary.thin-icon-thumb-up
					.caption
						h3.text-primary  Accessibility
						p.text-base Everyone knows, how hard it is to find a plumber in Wyoming during winter. As opposed to that notion, we work 24/7/365, all year long...
			.cell-sm-6.cell-lg-3
				a(href="pricing.html").thumbnail-variant-1.thumbnail-features
					span.icon.icon-xl.text-primary.thin-icon-lightbulb
					.caption
						h3.text-primary Affordability
						p.text-base We're convinced, that any good service simply must be also an affordable service. That is why we always keep our pricing at bay.

