section.section-50.section-sm-top-90.section-sm-bottom-100.text-center.text-sm-left.bg-light
	.shell
		h2 See a full list of all our plumbing services here:
		hr.hr.hr-primary.divider-lg
		// Responsive-tabs
		.responsive-tabs.vertical-tabs.clearfix.offset-top-15(data-type="vertical")
			ul.resp-tabs-list
				li.tabs-default Commercial Plumbing
				li.tabs-default Water Damage Restoration
				li.tabs-default Emergency Plumber
				li.tabs-default Outdoor Plumbing
				li.tabs-default Kitchen Plumbing
				li.tabs-default Bathroom Plumbing
				li.tabs-default Basement Plumbing
				li.tabs-default Laundry Room Plumbing
			.resp-tabs-container.text-xs-left
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-1-270x251','img-responsive')
						.unit-body
							h4 Crawl Space Plumbing
							p In many commercial applications, it's necessary to hide both wiring and plumbing fixtures in the so-called "crawl spaces".
							a(href="service-1.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more

				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-5-300x200','img-responsive')
						.unit-body
							h4 Water Damage
							p Regardless of the initial reason, fast action to dry out and restore water damaged areas can mean saving thousands of dollars in damage repairs and lawsuits.
							a(href="service-2.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-6-300x221','img-responsive')
						.unit-body
							p Aware of factors of surprise, our company works on a 24/7/365 schedule, just to ensure that whenever you'll need a plumber, you'll get one in 1, 2, 3 time!
							a(href="service-3.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-7-300x207','img-responsive')
						.unit-body
							h4 Downspout drain cleaning
							p Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.
							a(href="service-4.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-1-270x251','img-responsive')
						.unit-body
							p Starting with kitchen faucets at the taps and all the way down to either a laundry machine or a dishwashing machine's plumbing, it all can break and leak one day.
							a(href="service-5.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-8-300x201','img-responsive')
						.unit-body
							p We always provide an expert shower and bathtub plumbing services, while working with the wide range of shower and tub options.
							a(href="service-6.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-9-300x200','img-responsive')
						.unit-body
							h4 Sump pumps
							p Sump pumps are usually located in the basements as a deterrent to flooding, which can be oftentimes highly destructive.
							a(href="service-7.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
				div.fadeIn.animated
					h6.text-dark PlumberPro offers a variety of services for companies and individual clients.
					.unit.unit-md-horizontal.unit-spacing-md.offset-top-30
						.unit-left
							+jpg('index-10-300x200','img-responsive')
						.unit-body
							p There's a whole multitude of technical reasons and water quality justifications as to why your washing machines need repairs and constant maintenance.
							a(href="service-8.html").btn.btn-primary-variant-2.btn-md.offset-top-25 read more
