//include
include ../../elements/_ui-post-variant-1

section.section-50.section-sm-top-90.section-sm-bottom-100.text-left.bg-light
	.shell
		h2 In our Blog we #[span.text-primary always have some helpful] tips for you and your plumbing needs!
		hr.hr.hr-primary.divider-lg
		.range.range-xs-center.offset-top-40
			.cell-sm-6.cell-md-4
				+ui-post-variant-1('index-2-370x200','post-default.html',
				'Tips for Redesigning Your Bathroom',
				'Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern. There`s a whole multitude of different decisions that need to be taken when we`re talking about a...',
				'Apr 29, 2016',
				'0 Comments'
				)
			.cell-sm-6.cell-md-4.offset-top-40.offset-sm-top-0
				+ui-post-variant-1('index-3-370x200','post-default.html',
				'Choosing an Efficient Shower Head',
				'A regular bathroom shower head is most usually shaped like a ball and is generally adjustable in its positioning during the usage... But that conventional solution is not the only option that is at your disposal. In case you...',
				'Apr 27, 2016',
				'2 Comments'
				)
			.cell-sm-6.cell-md-4.offset-top-40.offset-md-top-0
				+ui-post-variant-1('index-4-370x200','post-default.html',
				'Do you have kids? Then you need a thermostat!',
				'The issue of hot water is a pretty hot topic in a plumbing world. No pun intended, but there`s one residential plumbing fixture, which is crazy popular for the last 10 years or so and for a very good reason!',
				'Apr 20, 2016',
				'0 Comments'
				)
			.cell-xs-12.offset-top-37.text-center.text-md-left
				a(href='news.html').btn-link.btn-link-primary SEE ALL NEWS
