//includes
include ../../elements/_ui-thumbnail-person

section.section-top-66.section-sm-top-70.text-center
  .shell
    h2 Learn more about us...
    hr.hr.hr-primary.divider-lg
    .range.range-xs-center.offset-top-20
      .cell-xs-12
        +jpg('plumbers-1-1170x780','img-responsive img-fullwidth')
      .cell-sm-6.offset-top-40.text-sm-left
        p.text-bold Throughout our business history there were always these few things that helped us the most in becoming a household name in plumbing. We mean those quality characteristics, which define whether a company is efficient and successful or not... For us, the majority of it lies within the quality of our team:
        ul.list.list-marked.text-left.offset-top-22
          li All of our plumbers are industry-certified
          li Each of them has a 10 years + experience in all kinds of plumbing fixings
          li Our team has 12 plumbers in total. So regardless of how many customer calls a day we get, be sure that we'll be at your location without the slightest delay
          li Each plumber works only with the latest tools, equipment, and fixtures
          li We assess their work quality and customer's feedback on a monthly basis, just to improve as far as possible

      .cell-sm-6.offset-top-40
        .thumbnail-classic.img-wrap-2
          figure
            span.icon.fa-play-circle(data-toggle='modal', data-target='#myModal')
            +jpg('plumbers-2-570x320','img-responsive ')
        // Modal
        #myModal.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                button.close.mdi.mdi-window-close(type='button', data-dismiss='modal')
              .modal-body
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src='//www.youtube.com/embed/-AhmuMqZB0s?wmode=transparent')

section.section-66.section-sm-top-70.section-sm-bottom-83.text-center
  .shell
    h2 Our Team
    hr.hr.hr-primary.divider-lg
    .range.range-xs-center.offset-top-20.text-sm-left
      .cell-sm-6.cell-lg-3
        +ui-thumbnail-person('team-2-370x370','plumber-1.html','Kenneth Buick','Owner','')
          p A grandson of the company's founder, Mr. Kenneth Buick is an avid plumber himself...
          p.offset-top-0 Going all the way up the corporate ladder, from a Junior Plumber at his dad's (Wallace Buick) firm to the managing partner and recently (after his dad retired due to age) an owner, Kenneth leads our efforts.
      .cell-sm-6.cell-lg-3.offset-top-50.offset-sm-top-0
        +ui-thumbnail-person('team-3-370x370','plumber-2.html','Erick Donaughey','Senior Plumber','')
          p Erick Donaughey is surely our most seasoned and our most skilled worker...
          p.offset-top-0 He's been with us well since the 70's, when he first started out as one of our Junior plumbers, fixing his first pipe and faucet. He came a long way since then and now he's not just our mentor, but also a record holder.
      .cell-sm-6.cell-lg-3.offset-top-50.offset-lg-top-0
        +ui-thumbnail-person('team-1-370x370','plumber-3.html','Steven Cooper','Senior Plumber','')
          p Steven's been working at our company for the last 20 years.
          p.offset-top-0 He earned his Senior Plumber status long time ago, by easily dealing with the hundreds of harshest basement floods, water damage restorations, and residential plumbing fixtures reparations and installations...
      .cell-sm-6.cell-lg-3.offset-top-50.offset-lg-top-0
        +ui-thumbnail-person('team-4-370x370','plumber-4.html','Denis Green','Junior Plumber','')
          p We've hired Denis just a few years ago, as he had a vital skill that we were looking for at that moment - fixing the commercial plumbing fixtures and emergencies... Since that time Denis has proven himself to be a young, but a crucial part of our big friendly team of plumbers. His expertise levels and his skillfulness and fast timing are just a few of his positive traits which we praise.
