extends  ../_skeleton
include ../elements/_widget-form-search
block variables
	- var activeIndex = 1
	- var page_active = "404 Not Found"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page

	// Page Header
	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')


	main.page-content.page-fullscreen
		section.section-66.section-sm-top-70.section-sm-bottom-83
			.shell
				h1
					span.big.text-primary 404
					span.small.text-dark The page not found

				a(href='index.html').btn.btn-primary.btn-md.offset-top-37.text-white
					span Visit Home Page
				p.offset-top-25 Unfortunately the page you were looking for could not be found. Maybe search can help.
				.range.range-xs-center.offset-top-30
					.cell-sm-6.cell-md-4
						+widget-form-search("", "form-label-sm", "blog-sidebar-2-form-search-widget")



	// Page Footers
	include ../elements/_footer-1
