extends  ../_skeleton
block variables
	- var activeIndex = 4
	- var page_active = "Grid Blog "
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
//-Title
block title
	title= page_active
//- Page
block page
	include ../elements/_header-corporate
		+breadcrumb_items(2,'#','Home','News')

	// Page Content
	main.page-content

		include ../section/blog/_section-blog-grid-2-columns

	// Page Footers
	include ../elements/_footer-1
