extends  ../_skeleton
include ../elements/_widget-form-search
block variables
	- var activeIndex = 1
	- var page_active = "FAQs"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page

	// Page Header
	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')


	main.page-content.text-left
		section.section-66.section-sm-top-70.section-sm-bottom-83
			.shell
				h3.text-uppercase.text-center PLUMBING FAQ:
				p.text-center The history of our plumbing company dates back to the 30's... Still, to this day most of our customers give us similar common questions. Here's a definitive list of those:
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p Are all of your plumbers state-certified?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Absolutely!
				p.offset-top-25 Each and every plumber whom we've ever hired even for a one week's work has been and is completely certified under all the licensing standards that the city of Pinedale and the state of Wyoming hold in place...
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p What range does your emergency service covers?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Usually, it is a 200 miles range.
				p.offset-top-25 As a rule of thumb, if your location is within the state of Wyoming and in a 200 miles radius from our office (which is located in Pinedale) - then we'll be able to come to your aid in a timely and cost-effective fashion.
				p.offset-top-25 We currently consider an option to open up a 2nd office in Casper, WY to operate throughout the whole state's area...
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p Why does my drain get clogged?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Most usually, the home drains get clogged due to a fact that many people are not careful enough of what they put in them. That's especially true when we're talking about kitchens.
				p.offset-top-25 Other residential drains, like the bathroom ones, are becoming clogged due to oil residue from soaps, shampoos, and hair. We advise you to keep a conscious view of what you put down your drains and treat them regularly with a drain cleaner such as Bio-Clean.
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p What is the reason that my home faucet drips?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Most likely, a faucet that's dripping is a problem with a relatively simple solution. The faucet's internal mechanisms and parts simply need to be rebuilt or replaced.
				p.offset-top-25 Usually, that's the easiest and the least expensive fix of them all. But did you know that you could also extend the life of your washers by simply turning off your faucets with a smooth, gliding move, as opposed to switching them harshly and forcefully?
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p How can I stop my home's pipes from leaking?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p To make that a non-issue, every once in a while try to inspect your pipes.
				p.offset-top-25 If there's a lot of rust and lime depositing on them, this may indicate a leak has started or is just about too. If that's the case in your home, the quicker solution would be to contact one of our specialists, as they will most surely address the problem. By performing such a simple and regular inspection you could stop a small problem before it turns into a large and expensive one.
				p.offset-top-25 All in all, leaking pipes can damage floors and belongings and become much more costly than if the problem was detected early.
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p Is it a big deal if my toilet is running water?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Well, firstly that's not a mere annoyance but also a huge, most unreasonable waste of water and the money you're gonna pay for your next water consumption bills.
				p.offset-top-25 Just like that, leaky toilets can cost almost $100 extra per year on your water bills.
				p.offset-top-25 If the toilet continues to run into the bowl after the toilet is flushed, it signals that some part of the mechanism is out of order. Sometimes a little jiggling of the flush valve mechanism solves it...
				p.offset-top-25 Otherwise, you may need to replace the entire mechanism, which we'll be glad to do for you!
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p What can I put in my garbage disposal?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p If you're using your home's garbage disposal not properly, it can clog, go out of order and cause you a good deal of mess, nuisance, and bills to be paid:
				p.offset-top-25 We firstly advise you to always run cold water when grinding to move the waste all the way down the drain lines.
				p.offset-top-25 Fats and grease simply stuck and harden in cold water and can be flushed through the system. Never use a hot water, as it can dissolve fats and grease, which may then accumulate in the drain line and cause you problems...
				hr.hr-fullwidth.hr-gray.offset-top-55


				.offset-top-50
					.unit.unit-horizontal.unit-top.text-dark
						.unit-left
							.h3.text-bold.line-height-06 Q:
						.unit-body
							p Will you guys install a new sink or plumbing fixture in my home?
				.offset-top-30
					.unit.unit-horizontal.unit-top.text-base
						.unit-left
							.h3.text-bold.text-base.line-height-06 A:
						.unit-body
							p Surely! We coordinate with a lot of plumbing fixtures manufacturers and retailers, so choosing a fit pick for you and then installing it will not be a problem at all!


	// Page Footers
	include ../elements/_footer-1
