extends  ../_skeleton

block variables
	- var activeIndex = 1
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
block title
	title Home

block page

	// Page Header
	include ../elements/_header-default

	// Page Content
	main.page-content
		include ../section/index/_section-index-about
		include ../section/index/_section-index-features
		include ../section/index/_section-index-services
		include ../section/index/_section-index-baner
		include ../section/index/_section-index-testimonials
		include ../section/index/_section-index-blog
		include ../section/index/_section-index-contact

	// Page Footers
	include ../elements/_footer-2
