extends  ../_skeleton

block variables
	- var activeIndex = 1
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-3'
block title
	title Home

block page

	// Page Header
	include ../elements/_header-3

	// Page Content
	main.page-content
		include ../section/index/_section-index-about
		include ../section/index/_section-index-features
		include ../section/index/_section-index-services
		include ../section/index/_section-index-baner
		include ../section/index/_section-index-testimonials
		include ../section/index/_section-index-blog
		include ../section/index/_section-index-contact

	footer.page-foot.bg-dark.text-center.text-sm-left
		section.footer-content
			.shell.clearfix
				ul.list-inline.list-inline-sm.pull-sm-right
					li: a(href="#").icon.icon-xxs.icon-primary.fa-facebook
					li: a(href="#").icon.icon-xxs.icon-primary.fa-twitter
					li: a(href="#").icon.icon-xxs.icon-primary.fa-google-plus
					li: a(href="#").icon.icon-xxs.icon-primary.fa-youtube
					li: a(href="#").icon.icon-xxs.icon-primary.fa-rss
				p.pull-sm-left.offset-top-0.
					&#169; #[span#copyright-year] Plumberpro. All Rights Reserved. #[a(href='privacy.html').icon-primary Privacy Policy]
