extends  ../_skeleton

block variables
	- var activeIndex = 4
	- var page_active = "News"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header
	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')
	// Page Content
	main.page-content.section-66.section-sm-top-70.section-sm-bottom-83.text-center.text-sm-left

		section
			.shell
				.range
					.cell-md-8
						include ../section/blog/_section-blog-list
					.cell-md-4
						include ../section/aside/_section-blog-sidebar-variant-1

	// Page Footer
	include ../elements/_footer-1
