extends  ../_skeleton
include ../mixin/_mixin-media
block variables
	- var activeIndex = 2
	- var page_active = "Steven Cooper"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header

	include ../elements/_header-corporate
		+breadcrumb_items(2,'index.html','Home','Plumbers')
	// Page Content
	main.page-content
		section.section-66.text-center
			.shell
				article.post.widget-post.text-left
					.unit.unit-sm-horizontal.unit-spacing-md
						.unit-left
							+jpg('team-1-370x370','img-responsive')
						.unit-body
							.post-title
								h3.line-height-12
									| Steven Cooper
								.text-gray
									p Senior Plumber
							.post-body
								p Steven's been working at our company for the last 20 years.
								p He earned his Senior Plumber status long time ago, by easily dealing with the hundreds of harshest basement floods, water damage restorations, and residential plumbing fixtures reparations and installations...
								p Now his expertise is to help a new generation of plumbers, who all value Steven's mentoring very highly.
								p Steven's favorite hobby is also water-related, as he just loves fishing at numerous Wyoming's lakes and mountain rivers...
		section.section-66.section-sm-top-70.section-sm-bottom-83.text-center.bg-light
			.shell
				h3 This plumber's certifications and fields of expertise:
				// PhotoSwipe
				.range.gallery-wrap.offset-top-66(data-photo-swipe-gallery='gallery')
					.cell-xs-6.cell-sm-3
						a(data-photo-swipe-item='', data-size='370x270', href='images/certifikate-1.jpg', data-author="Michael Hull").img-wrap-mod-2
							span.icon.icon-sm.fa-search-plus.text-white
							img.img-responsive(width='270', height='200', src='images/certifikate-1.jpg', alt='')
					.cell-xs-6.cell-sm-3
						a(data-photo-swipe-item='', data-size='370x270', href='images/certifikate-2.jpg').img-wrap-mod-2
							span.icon.icon-sm.fa-search-plus.text-white
							img.img-responsive(width='270', height='200', src='images/certifikate-2.jpg', alt='')
					.cell-xs-6.cell-sm-3.offset-xs-top-30.offset-sm-top-0
						a(data-photo-swipe-item='', data-size='370x270', href='images/certifikate-3.jpg').img-wrap-mod-2
							span.icon.icon-sm.fa-search-plus.text-white
							img.img-responsive(width='270', height='200', src='images/certifikate-3.jpg', alt='')
					.cell-xs-6.cell-sm-3.offset-xs-top-30.offset-sm-top-0
						a(data-photo-swipe-item='', data-size='370x270', href='images/certifikate-1.jpg').img-wrap-mod-2
							span.icon.icon-sm.fa-search-plus.text-white
							img.img-responsive(width='270', height='200', src='images/certifikate-1.jpg', alt='')
		section.section-66.section-sm-top-70.section-sm-bottom-83.text-center
			.shell
				h2 Book this plumber's services:
				hr.hr.hr-primary.divider-lg
				.range.offset-top-20
					.cell-xs-12
						// RD Mailform
						form.rd-mailform.text-left.form-contact-line(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.form-inline-login
								.form-group
									label.form-label.form-label-outside(for="contact-name") Your name *
									input#contact-name.form-control(type="text" name="name" placeholder='First name' data-constraints="@Required")
								.form-group
									label.form-label.form-label-outside(for="contact-subject") Subject *
									input#contact-subject.form-control(type="text" name="subject" placeholder='Subject'
										data-constraints="@Required")
							.form-group.offset-top-18.offset-xs-top-30.offset-sm-top-12
								label.form-label.form-label-outside(for="contact-mail") Email Address *
								input#contact-mail.form-control(type="email" name="email" placeholder='mail@demolink.org' data-constraints="@Required @Email")


							.form-group.offset-top-18.offset-xs-top-30.offset-sm-top-12
								label.form-label.form-label-outside(for="contact-message") Your message *
								textarea#contact-message.form-control(name="message" placeholder='Your message' data-constraints="@Required")

							button(type="submit").btn.btn-primary-variant-2.btn-sm.btn-min-width Send

	// Page Footer
	include ../elements/_footer-1
