extends  ../_skeleton
include ../mixin/_mixin-media
block variables
	- var activeIndex = 1
	- var page_active = "Pricing"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header

	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')
	// Page Content
	main.page-content
		include ../section/pricing/_section-pricing-1
		include ../section/index/_section-index-services
		include ../section/index/_section-index-testimonials

	// Page Footer
	include ../elements/_footer-1
