extends  ../_skeleton
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-thumbnail-services
block variables
	- var activeIndex = 3
	- var page_active = "Water Damage Restoration"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header
	include ../elements/_header-corporate
		+breadcrumb_items(2,'index.html','Home','Services')
	// Page Content
	main.page-content
		section.section-66.section-sm-top-70.section-sm-bottom-83.text-center
			.shell
				h2 Water Damage Restoration
				hr.hr.hr-primary.divider-lg.offset-top-22
				.range.range-xs-center.offset-top-34
					.cell-sm-10.cell-md-8.text-sm-left
						p When you are dealing with any kind of water damage, taking a timely action is crucial...
						p Be sure, that our professional team will respond immediately and will use the most advanced equipment and techniques to remove the water quickly.
						p We always closely monitor and document the drying process. This is done in order to ensure that your property has dried ok and all the water damage and leaking has been fixed once and for all...
						h3.offset-top-27  Water Damage
						p Water damage can follow any type of accident or any plumbing fixture's failure. Regardless of the initial reason, fast action to dry out and restore water damaged areas can mean saving thousands of dollars in damage repairs and lawsuits.

						h3.offset-top-27 Water Extraction
						p Every successful Water Damage Restoration begins with a Water Extraction. For this purpose, our company employs powerful truck mounted equipment that is capable of extracting hundreds and even thousands of gallons of water fast and safe.

						h3.offset-top-27 Water Damage Mitigation
						p After we clean up all the water and prevent any kind of further damage, we usually commence water mitigation of the water damage. The water damage mitigation process varies and depends on the Class of water damage your residential or commercial structure has suffered. Our company uses high powered air movers, commercial dehumidifiers, and moisture detection readers to guarantee a quick and efficient drying of your home or business location...

					.cell-xs-12.offset-top-66
						+carousel-gallery-classic(

							[{
								"type": "thumbnail",
								"thumb": { "src": "images/service-3.jpg", "width": 1200, "height": 450, "alt": ""},
								"target": { "src": "images/services-8-250x167.jpg", "width": 1200, "height": 801, "alt": ""}
							},
								{
									"type": "thumbnail",
									"thumb": { "src": "images/service-2.jpg", "width": 1200, "height": 450,  "alt": ""},
									"target": { "src": "images/services-2-250x167.jpg", "width": 1200, "height": 801, "alt": ""}
								},
								{
									"type": "thumbnail",
									"thumb": { "src": "images/service-1.jpg", "width": 1200, "height": 450,  "alt": ""},
									"target": { "src": "images/services-1-250x167.jpg", "width": 1200, "height": 800, "alt": ""}
								}
							]
						)

						h3.offset-top-30 Easily book any plumbing service, 24/7/365, by simply reaching us at:
						.offset-top-30
							.unit.unit-xs-horizontal.unit-middle.justify-center
								.unit-left
									span.icon.icon-rounded-primary.icon-primary.h3.fa-phone
								.unit-body
									h2: a(href='callto:#').text-dark 555.123.2323
						p.offset-top-27
							span.h5 Cost Starts at:&nbsp;
							span.h3 $99.00
						p.h6.offset-top-15
							span Minimal Duration:&nbsp;
							span.text-bold 1 Hour

		section.section-50.section-sm-top-90.section-sm-bottom-100.text-center.text-sm-left.bg-banner
			.shell
				.range
					.cell-md-8.cell-lg-12
						h3 Did you get your pipes frozen? Or maybe, your faucets are no longer working?
						p Maybe you've had your hot, cold or both kinds of water supply cut? If anything of that or inline with that is the #[br.visible-lg-inline] case, then you'll probably love our timely and affordable plumbing servicing!
						a(href='appointment.html').btn.btn-md.btn-white.offset-top-15.offset-sm-top-25 Book an Appointment

		include ../section/index/_section-index-testimonials

		section.section-bottom-66.section-sm-bottom-83
			.shell
				h2 See a full list of all our plumbing services here:
				hr.hr.hr-primary.divider-lg.offset-top-22
				.range.offset-top-34
					.cell-sm-6.cell-lg-3
						+ui-thumbnail-services('services-1-250x167','service-1.html','Commercial Plumbing','')
							p Our plumbing company offers a variety of services for commercial companies. We do Crawl Space Plumbing, Handicap Plumbing & Copper Piping among everything else...
					.cell-sm-6.cell-lg-3.offset-top-40.offset-sm-top-0
						+ui-thumbnail-services('services-2-250x167','service-2.html','Water Damage Restoration','')
							p When you are dealing with any kind of water damage, taking a timely action is crucial...Be sure, that our professional team will respond immediately and will use the most advanced equipment and techniques!
					.cell-sm-6.cell-lg-3.offset-top-40.offset-lg-top-0
						+ui-thumbnail-services('services-3-250x167','service-3.html','Emergency Plumbing','')
							p You simply never know when a faucet may go out of order, a pipe freezes or blows up or a water damage happens. Aware of that factor of surprise, our company works on a 24/7/365 schedule!
					.cell-sm-6.cell-lg-3.offset-top-40.offset-lg-top-0
						+ui-thumbnail-services('services-4-250x167','service-4.html','Outdoor Plumbing','')
							p Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.


	// Page Footer
	include ../elements/_footer-1
