extends  ../_skeleton
include ../mixin/_mixin-media
block variables
	- var activeIndex = 1
	- var page_active = "Static Elements"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header

	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')
	// Page Content
	main.page-content.section-50.section-sm-top-90.section-sm-bottom-100

		include ../section/elements/_section-1
		include ../section/elements/_section-2
		include ../section/elements/_section-3
		include ../section/elements/_section-4
		include ../section/elements/_section-5
		include ../section/elements/_section-6
		include ../section/elements/_section-7
		include ../section/elements/_section-8
		include ../section/elements/_section-9
		include ../section/elements/_section-10
		include ../section/elements/_section-11
		include ../section/elements/_section-12
		include ../section/elements/_section-13

	// Page Footer
	include ../elements/_footer-1
