extends  ../_skeleton
include ../mixin/_mixin-media
block variables
	- var activeIndex = 1
	- var page_active = "Typography"
	- var rd_navbar_class_ajuster = 'rd-navbar-variant-1'
	- var section_class_ajuster = "bg-light"
block title
	title= page_active
block page
	// Page Header

	include ../elements/_header-corporate
		+breadcrumb_items(1,'index.html','Home')
	// Page Content
	main.page-content

		.shell
			.range
				.cell-md-8
					include ../section/typography/_section-typography-2
					hr.hr-fullwidth.hr-gray.veil-md
				.cell-md-4
					.section-bottom-50.section-md-top-50
						include ../section/aside/_section-blog-sidebar-variant-1

	// Page Footer
	include ../elements/_footer-1
