//- Includes
include ../../elements/_ui-post-modern-timeline
include ../../elements/_ui-pager-bootstrap

// Section Blog Modern
section
  .post-modern-timeline-date.text-sm-right
    time.text-bold(datetime="2016-01-01") July 25
  +post-modern-timeline("post-modern-timeline-right", 'blog-post.html', "mdi mdi-video","4 days ago", "Mexican chocolate dessert recipes", [
    {"title": "Mexican ", "href": 'blog-post.html'},
    {"title": "desserts", "href": 'blog-post.html'}],
  {
    "type": "video",
    "href": "//www.youtube.com/embed/-AhmuMqZB0s",
    "ratio": "16by9"
  },
  "Sandra Green",
  {
    "width": 69,
    "height": 69,
    "src": "images/blog-classic-3-69x69.jpg",
    "alt": "Sandra Green"
  })
    p When a chocolate craving hits, it`s not something you can easily ignore. Your appetite simply won`t be satisfied until you`ve eaten some kind of chocolate dessert. But if a candy bar or a simple chocolate cake recipe just won`t hit the spot, the good news is that we`ve got some yummy and surprisingly simple Mexican chocolate dessert recipes for you to try!
  .post-modern-timeline-date.text-sm-right
    time.text-bold(datetime="2016-01-01") July 20
  +post-modern-timeline("post-modern-timeline-right", 'blog-post.html', "mdi mdi-image","4 days ago", "How to make cheese crips", [
    {"title": "mexican food", "href": 'blog-post.html'},
    {"title": "cheese crips", "href": 'blog-post.html'}],
  {
    "type": "thumbnail",
    "thumb": {"src": "images/blog-modern-2-570x328.jpg", "width": 570, "height": 328, "alt": ""}
  },
  "John Doe",
  {
    "width": 69,
    "height": 69,
    "src": "images/blog-classic-4-69x69.jpg",
    "alt": "John Doe"
  })
    p Crispy flour tortilla layered with melted cheeses and baked to perfection... sounds simple right?! These ingredients make up our famous Cheese Crisp. If you haven`t tried one yet, get to one of our 12 Arizona locations now! You`re seriously missing out! Throughout our 7 decades of service to Arizona this menu item has stood the test of time and although it is among the top seller.
  .post-modern-timeline-date.text-sm-right
    time.text-bold(datetime="2016-01-01") 18 Feb
  +post-modern-timeline("post-modern-timeline-right", 'blog-post.html', "mdi mdi-image","5 days ago", "New Year`s eve in Mexico", [
    {"title": "restaurant", "href": 'blog-post.html'},
    {"title": "mexican", "href": 'blog-post.html'},
    {"title": "new year", "href": 'blog-post.html'}],
  {
    "type": "soundcloud",
    "embed": '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>'
  },
  "John Doe",
  {
    "width": 69,
    "height": 69,
    "src": "images/blog-classic-5-69x69.jpg",
    "alt": "John Doe"
  })
  .post-modern-timeline-date.text-sm-right
    time.text-bold(datetime="2016-01-01") July 10
  +post-modern-timeline("post-modern-timeline-right", 'blog-post.html', "mdi mdi-pen", "4 days ago","Best happy hour of the summer!", [
      {"title": "happy hour", "href": 'blog-post.html'},
      {"title": "summer", "href": 'blog-post.html'},
      {"title": "food", "href": 'blog-post.html'}],
    null,
    "Sandra Green",
    {
      "width": 69,
      "height": 69,
      "src": "images/blog-classic-3-69x69.jpg",
      "alt": "Sandra Green"
    })
       p As Summer has officially rolled in, we have some refreshing news that will help you beat the heat! We`re starting Reverse Happy Hour at all Arizona locations! You can now enjoy Happy Hour Monday - Friday; 3:30 pm to 6:30 pm and Reverse Happy Hour Sunday - Thursday 8:00 pm to 10:00 pm and Friday & Saturday 9:00 pm to 11:00 pm!
footer.offset-top-42
  //- Add timeline post offset
  .post-modern-timeline-right
    +pager-bootstrap(null,
    {"title": "Older", "href": "#", "icon": "icon mdi mdi-chevron-left"},
    {"title": "Newer", "href": "#", "icon": "icon mdi mdi-chevron-right"},
    true
    )