//- Includes
include ../../elements/_ui-post-modern
include ../../elements/_ui-pagination-classic

// Section Blog Grid 2 Columns
section.section-66.section-sm-top-70.section-sm-bottom-83.text-center.text-sm-left
  .shell
    .range
      .cell-md-8
        .range
          .cell-md-6
            +post-modern(
            'post-default.html',
            'Tips for Redesigning Your Bathroom',
            'Admin',
            'April 29, 2016',
            [{"title": "Residential tips", "href": "post-default.html"}],

            "Designing a bathroom can easily become a daunting task, especially if space and cost are of concern. There's a whole multitude of decisions that need to be taken when we're talking about a redesign. So usually this simple process complicates things...",
            '0 Comments',
            'post-icon post-2col',
            {
              "type": "thumbnail",
              "thumb": {"src": "images/elements-2-272x370.jpg", "width": 370, "height": 270, "alt": ""},
              "target": {"href": "post-default.html"},
              "class": "img-fullwidth img-responsive"
            })

          .cell-md-6.offset-top-50.offset-md-top-0
            +post-modern('post-default.html',
            'Choosing an Efficient Shower Head',
            'Admin',
            'April 27, 2016',
            [{"title": "Residential tips", "href": "post-default.html"}],
            "A regular bathroom shower head is most usually shaped like a ball and is generally adjustable in its positioning during the usage... But that conventional solution is not the only option that is at your disposal. In case you...",
            '2 Comments',
            'post-2col',
            {
              "type": "thumbnail",
              "thumb": {"src": "images/blog-grid-1-370x270.jpg", "width": 370, "height": 270, "alt": ""},
              "target": {"href": "post-default.html"},
              "class": "img-fullwidth img-responsive"
            })

          .cell-md-6.offset-top-50
            +post-modern('post-default.html',
            'Do you have kids? Then you need a thermostat!',
            'Admin',
            'April 20, 2016',
            [{"title": "Residential tips", "href": "post-default.html"}],
            "The issue of hot water is a pretty hot topic in a plumbing world. No pun intended, but there's one residential plumbing fixture, which is crazy popular for the last 10 years or so and for a very good reason!",
            '0 Comments',
            'post-2col',
            {
              "type": "thumbnail",
              "thumb": {"src": "images/post-list-1-1170x850.jpg", "width": 370, "height": 270, "alt": ""},
              "target": {"href": "post-default.html"},
              "class": "img-fullwidth img-responsive"
            })

          .cell-md-6.offset-top-50
            +post-modern('post-gallery.html',
            'How to choose the proper dishwashing machine',
            'Admin',
            'April 17, 2016',
            [{"title": "Water supply issues", "href": "post-default.html"}],
            "Good dishwashers are a must for those of us who have to wash dishes for a typical family. Cleaning dishes by hand takes up far too much time and effort. A dishwasher can take the average load of plates, bowls, pots, and pans and have them sanitized and sparkling in a way that hand washing just can't do. ",
            '0 Comments',
            'post-2col',
            {
              "type": "gallery",
              "images": [
                {
                  "type": "thumbnail",
                  "thumb": { "src": "images/services-1-250x167.jpg", "width": 1200, "height": 450, "alt": ""},
                  "target": { "src": "images/services-1-250x167.jpg", "width": 1200, "height": 801, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": { "src": "images/services-2-250x167.jpg", "width": 1200, "height": 450,  "alt": ""},
                  "target": { "src": "images/services-2-250x167.jpg", "width": 1200, "height": 801, "alt": ""}
                },
                {
                  "type": "thumbnail",
                  "thumb": { "src": "images/services-8-250x167.jpg", "width": 1200, "height": 450,  "alt": ""},
                  "target": { "src": "images/services-8-250x167.jpg", "width": 1200, "height": 800, "alt": ""}
                }
              ]
            })
          .cell-md-6.offset-top-50
            +post-modern('post-default.html',
            'Keep Your Sump Pump Clean ',
            'Admin',
            'April 17, 2016',
            [{"title": "Water supply issues", "href": "post-default.html"}],
            "Multiple regions have experienced record rainfall this summer, and those storms likely left more than a few flooded basements in their wake. Unfortunately, this disaster occasionally strikes homeowners who thought they were protected by a functioning sump pump, only to find out that the unit malfunctioned...",
            '0 Comments',
            'post-2col',
            {
              "type": "thumbnail",
              "thumb": {"src": "images/services-8-250x167.jpg", "width": 370, "height": 270, "alt": ""},
              "target": {"href": "post-default.html"},
              "class": "img-fullwidth img-responsive"
            })

          .cell-xs-12.offset-top-50
            +pagination-classic(1, [{"href": "#"}, {"href": "#"}],'2', {
              "title": "",
              "href": "#"
            }, {"title": "Next", "href": "#"})

      .cell-md-4
        include ../../section/aside/_section-blog-sidebar-variant-1


