footer.page-foot.bg-dark.text-center
  section.footer-content
    .shell
      p.offset-top-0.
       &#169; #[span#copyright-year] Plumberpro. All Rights Reserved. #[a(href='privacy.html').icon-primary Privacy Policy]
