footer.page-foot.bg-dark.text-center
  section.footer-content
    .shell
      // RD Navbar Brand
      .rd-navbar-brand
        a.brand-name(href='index.html')
          span Plumber
          span Pro
      p.offset-top-10.
       &#169; #[span#copyright-year] Plumberpro. All Rights Reserved. #[a(href='privacy.html').icon-primary Privacy Policy]
