include ../elements/_breadcrumbs
-var  rd_navbar_data_ajuster = {"data-layout":"rd-navbar-fixed", "data-sm-layout":'rd-navbar-fullwidth', "data-md-layout":"rd-navbar-fullwidth", "data-lg-layout":"rd-navbar-static", "data-device-layout":"rd-navbar-fixed", "data-sm-device-layout":"rd-navbar-fixed","data-md-device-layout":"rd-navbar-fixed", "data-lg-device-layout":"rd-navbar-static", "data-lg-stick-up-offset" : "130px"}


header.page-head.section-top-15.section-lg-top-0
  include _navigation
  section( class= section_class_ajuster )
    .shell
      .range
