mixin team(src,title,sub_title)
  .thumbnail-variant-2
    +jpg(src)
    .caption
      .caption-inner
        h3=title
        p.h4.text-base.text-regular=sub_title
        hr
        ul.list-inline
          li: a.icon.icon-circle.icon-foot.fa-facebook(href="#")
          li: a.icon.icon-circle.icon-foot.fa-twitter(href="#")
          li: a.icon.icon-circle.icon-foot.fa-google-plus(href="#")
          li: a.icon.icon-circle.icon-foot.fa-instagram(href="#")