nav.text-center.text-sm-left
  ul.pagination.text-center
    li.active
      a(href='#') 01.
    li
      a(href='#') 02.
    li
      a(href='#') 03.
    li.dots
     | ...
    li
      a(href='#') 08.
