.progress-container.row.offset-7.flow-offset-1
  // Progress Bar
  .col-sm-6.col-md-3.clearfix
    .thumbnail-mod-1
      .progress-bar-wrapper
        .progress-bar-js.progress-bar-radial.progress-bar-default(data-value='50', data-stroke='10', data-trail="10", data-easing='linear', data-duration='1000', data-counter="true")
      p.h5.fw-l.inline-block= elements.prog_bar.p_el_11
  .col-sm-6.col-md-3.clearfix
    .thumbnail-mod-1
      .progress-bar-wrapper
        .progress-bar-js.progress-bar-radial.progress-bar-default(data-value='75', data-stroke='10',data-trail="10", data-easing='linear', data-duration='1000', data-counter="true")
      p.h5.fw-l.inline-block= elements.prog_bar.p_el_12
  .col-sm-6.col-md-3.clearfix
    .thumbnail-mod-1
      .progress-bar-wrapper
        .progress-bar-js.progress-bar-radial.progress-bar-default(data-value='25', data-stroke='10',data-trail="10", data-easing='linear', data-duration='1000', data-counter="true")
      p.h5.fw-l.inline-block= elements.prog_bar.p_el_13
  .col-sm-6.col-md-3.clearfix
    .thumbnail-mod-1
      .progress-bar-wrapper
        .progress-bar-js.progress-bar-radial.progress-bar-default(data-value='100', data-stroke='10',data-trail="10", data-easing='linear', data-duration='1000', data-counter="true")
      p.h5.fw-l.inline-block= elements.prog_bar.p_el_14