// RD Mailform
form.rd-mailform.text-center.text-xs-left.subscribe.form-inline-flex-xs(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
  .form-group
    label.form-label(for="email-sub") Name@domainname.com
    input#email-sub.form-control(type="email" name="email" data-constraints="@Required @Email", placeholder='')
  button.btn.btn-primary.btn-xs.btn-min-width-contact !{button_content}