//- Default Post

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-default(url, date, title, author, tags, comments, media)
	// Post Wide
	article.post.post-default.text-center.text-sm-left
		// Post Header
		.header.post-header
			// Post Meta
			ul.post-controls.list-inline.list-inline-sm
				li
					span.text-middle.icon-sm.text-primary.mdi.mdi-clock
					time(datetime="2016-01-01").text-base.text-middle.text-bold= date
				li
					span.text-middle.icon-sm.text-primary.mdi.mdi-comment-multiple-outline &nbsp;
					a.text-base.text-middle.text-bold(href= url)= author

				if tags
					li
						span.text-middle.icon-sm.text-primary.mdi.mdi-heart-outline &nbsp;
						each tag, i in tags
							a.text-base.text-middle.text-bold(href= tag.href)= tag.title
							- if (i !== (tags.length - 1))
							= ", "
				li
					span.text-middle.icon-sm.text-primary.mdi.mdi-share &nbsp;
					a(href= url + "comments").text-base.text-middle.text-bold= comments
					//span &nbsp;Comments

			// Post Meta
			.h3.post-title
				span.text-white= title


			// Post Media
			if media
				.post-media.offset-top-34
					header.post-media
						case media.type
							when "gallery"
								+carousel-gallery-classic(media.images)
							when "soundcloud"
								+soundcloud-player-classic(media)
							when "video"
								+video-embed(media)
							when "thumbnail"
								//- TODO: Remove this wrap on photoswipe init fix
								div(data-photo-swipe="gallery")
									+thumbnail-classic(media)
							default
								= ""

		// PostContent
		section.post-content.offset-top-30
			block
