//- Post Widget
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- image - post image

mixin ui-thumbnail-services(src, url, title, aClass)
  // Post Widget
  article.post.widget-post.text-center(class= aClass)
    .thumbnail-variant-2
      .thumbnail-classic
        +jpg(src,'img-responsive')
      .caption
        .post-title
          h4.line-height-12
            a(href=url).text-primary= title

        .post-body
          if block
            block
