//- Comment Box
//- type - comment box type
//- image - {image} object
//- date - comment date
//- title - comment author
//- body - comment body
mixin box-comment(type, image, date, title, body)
  // Box Comment
  .box-comment.text-left(class=type)
    .media
      .media-left
        img.box-comment-img.img-circle(src= image.src alt= image.alt width= image.width height= image.height)
      .media-body
        .inset-sm-left-20
          header.box-comment-header.unit.unit-vertical.unit-spacing-xxs.unit-xs.unit-xs-horizontal.unit-xs-middle.unit-md-align-right
            .unit-left(class= type ==="box-comment-outboxed" ? "unit-grow-1": "")
              ul.box-comment-meta.list-inline.list-inline-sm
                li.text-middle
                  .box-comment-title=  title
                li.text-middle
                  time(datetime="2016-01-01").text-gray= date
            .unit-body
              a(href="#reply") #[span.box-comment-meta-icon.text-middle.fa-mail-reply]


          section.box-comment-body
            p= body
    block

