//- Post Widget
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- image - post image

mixin widget-post-link(link)
  // Post Widget
  +jpg(link.src,'img-responsive img-fullwidth')
  a(href=link.url).link-body
    .unit.unit-horizontal.unit-spacing-sm
      .unit-left
        span.fa-chain.text-middle
      .unit-body
        span.text-middle.text-italic http://www.templatemonster.com/