//includes
include ../../elements/_ui-thumbnail-person

section.offset-top-50.offset-sm-top-120.text-center.text-sm-left
  .shell
    h4 People
    .range.offset-top-30
      .cell-md-8
        .range.range-xs-center
          .cell-sm-6
            +ui-thumbnail-person('team-1-370x370','plumber-3.html','Steven Cooper','Senior Plumber','')
              p Steven's been working at our company for the last 20 years.
              p He earned his Senior Plumber status long time ago, by easily dealing with the hundreds of residential plumbing fixtures reparations and installations...
          .cell-sm-6.offset-top-50.offset-sm-top-0
            +ui-thumbnail-person('team-2-370x370','plumber-1.html','Kenneth Buick','Owner','')
              p A grandson of the company's founder, Mr. Kenneth Buick is an avid plumber himself...
              p Going all the way up the corporate ladder, from a Junior Plumber at his dad's (Wallace Buick) firm to the managing partner and recently (after his dad retired due to age) an owner, Kenneth leads our efforts.
      .cell-xs-12.offset-top-50.offset-sm-top-120
        article.post.widget-post.text-left
          .unit.unit-sm-horizontal.unit-spacing-md
            .unit-left
              +jpg('team-3-370x370','img-responsive')
            .unit-body
              .post-title
                h3.line-height-12
                  a(href="plumber-2.html").text-dark Erick Donaughey
                .small.text-gray
                  span Senior Plumber
              .post-body
                p  Erick Donaughey is surely our most seasoned and our most skilled worker...
                p He's been with us well since the 70's, when he first started out as one of our Junior plumbers, fixing his first pipe and faucet.
              .post-meta
                ul.list-inline.list-inline-md
                  li:  a(href='#').icon.icon-primary.fa-facebook
                  li:  a(href='#').icon.icon-primary.fa-twitter
                  li:  a(href='#').icon.icon-primary.fa-google-plus