section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Pricing Table
    .range.range-xs-center.range-condensed.offset-top-40
      .cell-xs-12
        // Slick Carousel
        .slick-slider(data-arrows="false", data-loop="false", data-dots="true", data-swipe="true", data-xs-items="1",data-sm-items="1", data-md-items="3", data-lg-items="3",data-center-mode="false",data-center-padding="0")
          .item
            .pricing-table
              .pricing-header
                h4 Commercial Plumbing
              .pricing-value
                span Starting at
                span $100
                span hour
              .pricing-body
                p Our plumbing company offers a variety of services for commercial companies. We do Crawl Space Plumbing, Handicap Plumbing & Copper Piping among everything else...
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now
          .item
            .pricing-table.active
              .pricing-header
                h4 Emergency Plumbing
              .pricing-value
                span Starting at
                span $50
                span hour
              .pricing-body
                p You simply never know when a faucet may go out of order, a pipe freezes or blows up or a water damage happens. Aware of that factor of surprise, our company works on a 24/7/365 schedule!
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now
          .item
            .pricing-table
              .pricing-header
                h4 Outdoor Plumbing
              .pricing-value
                span Starting at
                span $100
                span hour
              .pricing-body
                p Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.
                a(href="pricing.html").btn.btn-md.btn-primary-variant-2 order now