section.offset-top-50.offset-sm-top-120.text-center.text-sm-left
  .shell
    h4 Social Sharing
    .range.offset-top-30
      .cell-md-8
        ul.list-inline.list-inline-md
          li:  a(href='#').icon.icon-primary.fa-facebook
          li:  a(href='#').icon.icon-primary.fa-twitter
          li:  a(href='#').icon.icon-primary.fa-google-plus
          li:  a(href='#').icon.icon-primary.fa-vimeo
          li:  a(href='#').icon.icon-primary.fa-youtube
          li:  a(href='#').icon.icon-primary.fa-pinterest-p
          li:  a(href='#').icon.icon-primary.fa-linkedin
          li:  a(href='#').icon.icon-primary.fa-odnoklassniki
          li:  a(href='#').icon.icon-primary.fa-vk
          li:  a(href='#').icon.icon-primary.fa-skype
          li:  a(href='#').icon.icon-primary.fa-instagram