section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Testimonials
  .offset-top-40.section-50.section-sm-top-90.section-sm-bottom-100.text-center.text-sm-left.bg-banner
    .shell
      .range
        .cell-md-8.cell-lg-12
          h3 Did you get your pipes frozen? Or maybe, your faucets are no longer working?
          p Maybe you've had your hot, cold or both kinds of water supply cut? If anything of that or inline with that is the #[br.visible-lg-inline] case, then you'll probably love our timely and affordable plumbing servicing!
          a(href='appointment.html').btn.btn-md.btn-white-variant-1.offset-top-15.offset-sm-top-25 Book an Appointment
  .offset-top-50.offset-sm-top-120.text-center.text-sm-left
    .shell
      .range
        .cell-md-8.cell-lg-12
          h3 Did you get your pipes frozen? Or maybe, your faucets are no longer working?
          p Maybe you've had your hot, cold or both kinds of water supply cut? If anything of that or inline with that is the #[br.visible-lg-inline] case, then you'll probably love our timely and affordable plumbing servicing!
          a(href='appointment.html').btn.btn-md.btn-primary-variant-2.offset-top-15.offset-sm-top-25 Book an Appointment
  .offset-top-50.offset-sm-top-120.text-center.text-sm-left
    .shell
      .range
        .cell-sm-6
          img(src="images/elements.png", width="570", height="667", alt="").img-responsive
        .cell-sm-6
          .section-lg-top-66
            h3 Did you get your pipes frozen? Or maybe, your faucets are no longer working?
            p Maybe you've had your hot, cold or both kinds of water supply cut? If anything of that or inline with that is the #[br.visible-lg-inline] case, then you'll probably love our timely and affordable plumbing servicing!
            a(href='appointment.html').btn.btn-md.btn-primary-variant-2.offset-top-15.offset-sm-top-25 Book an Appointment
