section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Contact Form
    .range.offset-top-30
      .cell-md-8
        // RD Mailform
        form.rd-mailform.text-left.form-contact-line(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .form-inline-login
            .form-group
              label.form-label.form-label-outside(for="contact-name") Your name *
              input#contact-name.form-control(type="text" name="name" placeholder='First name' data-constraints="@Required")
            .form-group
              label.form-label.form-label-outside(for="contact-subject") Subject *
              input#contact-subject.form-control(type="text" name="subject" placeholder='Subject'
              data-constraints="@Required")
          .form-group.offset-top-18.offset-xs-top-30.offset-sm-top-12
            label.form-label.form-label-outside(for="contact-mail") Email Address *
            input#contact-mail.form-control(type="email" name="email" placeholder='mail@demolink.org' data-constraints="@Required @Email")


          .form-group.offset-top-18.offset-xs-top-30.offset-sm-top-12
            label.form-label.form-label-outside(for="contact-message") Your message *
            textarea#contact-message.form-control(name="message" placeholder='Your message' data-constraints="@Required")

          button(type="submit").btn.btn-primary-variant-2.btn-sm.btn-min-width Send Message

