section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Slider
  .offset-top-40
    // Swiper
    .swiper-container.swiper-slider(data-height='', data-min-height='500px', data-simulate-touch="false")
      .swiper-wrapper
        .swiper-slide(data-slide-bg='images/slide-1.jpg')
          .swiper-slide-caption
            .shell.text-left
              .range
                .cell-sm-10.cell-md-7
                  h1(data-caption-animate="fadeInDown") Meet our Worker of the Month, Steven Cooper!
                  a(href='plumber-3.html' data-caption-animate="fadeInUp" data-caption-delay='400').btn.btn-md.btn-white.offset-top-15.offset-sm-top-25.offset-lg-top-45 More Info

        .swiper-slide(data-slide-bg='images/slide-2.jpg')
          .swiper-slide-caption
            .shell.text-left
              .range
                .cell-sm-10.cell-md-7
                  h1(data-caption-animate="fadeInDown") Wyoming is well known for its harsh weather conditions during all times of the season.
                  p.h6.offset-top-15.offset-sm-top-25.offset-lg-top-45(data-caption-animate="fadeInUp" data-caption-delay='400') Our Pinedale and Cheyenne-based plumbing service will give you a hand in fixing any pipes or plumbing related issues in no time!
                  .offset-top-15.offset-sm-top-25.offset-lg-top-45(data-caption-animate="fadeInUp" data-caption-delay='700')
                    a(href='callto:#').h3 1.555.123.2323

        .swiper-slide(data-slide-bg='images/slide-3.jpg')
          .swiper-slide-caption
            .shell.text-left
              .range
                .cell-sm-10.cell-md-7
                  h1(data-caption-animate="fadeInDown") Discounts Club
                  p.h6.offset-top-15.offset-sm-top-25.offset-lg-top-45(data-caption-animate="fadeInUp" data-caption-delay='400') Plumbing issues have a tendency to pop up at an always unexpected time... Be ready for fixing it anytime, by joining our Discounts Club and having your routine plumbing services cost cut by some percents!
                  a(href='appointment.html' data-caption-animate="fadeInUp" data-caption-delay='700').btn.btn-md.btn-primary.offset-top-15.offset-sm-top-25.offset-lg-top-45 Book an Appointment

      // Swiper Pagination
      .shell.swiper-pagination


