section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Maps
    .range.offset-top-30
      .cell-md-8

        // RD Google Map
        .rd-google-map(class="rd-google-map__model", data-zoom='15', data-x='-73.9874068', data-y='40.643180', data-styles='')
          ul.map_locations
            li(data-x='-73.9874068', data-y='40.643180')
              p
                | 9870 St Vincent Place, Glasgow, DC 45 Fr 45.

