section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Testimonials
    .range.range-condensed.offset-top-40
      .cell-md-8
        .range.range-xs-center
          .cell-xs-12.cell-sm-8
            .unit.unit-vertical.text-center
              .unit-left
                span.icon.icon-md.icon-picton-blue.fa-quote-left
              .unit-body
                blockquote
                  p
                    q Having some pipe broken and leaking, right in the middle of cooking a family dinner, that's a problem our family had to deal with recently... Thankfully, these plumbers were fast and keen to help us all out!
                  p
                    cite.text-normal
                      span.h4 Rhode Gentlebear

        .range.text-left
          .cell-sm-6
            blockquote.quote-1.quote-bg-primary
              p
                q When our hotel's building had all water suddenly shut, we virtually were stopped at all of our business operations... Thanks God there was the "PlumberPro" service out there, which helped us out big time!
            p.offset-sm-top-40
              cite.text-normal
                span.h4 Gavin Beave
                span.text-gray.small.display-block Male from United States
          .cell-sm-6.offset-top-50.offset-sm-top-0
            blockquote.quote-1.quote-bg-primary
              p
                q Having some pipe broken and leaking, right in the middle of cooking a family dinner, that's a problem our family had to deal with recently... Thankfully, these plumbers were fast and keen to help us all out!
            p.offset-sm-top-40
              cite.text-normal
                span.h4 Walter Kindred
                span.text-gray.small.display-block Male from United States
