section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Images
    .range.offset-top-40
      .cell-md-8
        +jpg('elements-1-582x870','img-responsive img-fullwidth')
        .range.offset-top-30
          .cell-sm-6
            +jpg('elements-2-272x370','img-responsive img-fullwidth')
          .cell-sm-6.offset-top-30.offset-sm-top-0
            +jpg('elements-2-246x370','img-responsive img-fullwidth')
