section.offset-top-50.offset-sm-top-120
  .shell
    h4.text-center.text-sm-left Animated Counter
    .range.offset-top-40
      .cell-md-8.progress-container.text-left
        p.text-dark Water Damage Restoration
        // Progress Bar
        .progress-bar-js.progress-bar-horizontal.progress-bar-default(data-value='85', data-stroke='15', data-easing='linear', data-duration='1000', data-counter="true")
        p.text-dark Kitchen Plumbing
        .progress-bar-js.progress-bar-horizontal.progress-bar-default(data-value='15', data-stroke='15', data-easing='linear', data-duration='1000', data-counter="true")

        p.text-dark Bathroom Plumbing
        .progress-bar-js.progress-bar-horizontal.progress-bar-default(data-value='10', data-stroke='15', data-easing='linear', data-duration='1000', data-counter="true")