section.offset-top-50.offset-sm-top-120
	.shell
		h4.text-center.text-sm-left Toggles
		.range.offset-top-40
			.cell-md-8
				// Responsive-tabs
				.responsive-tabs(data-type='accordion')
					ul.resp-tabs-list
						li.tabs-default Commercial Plumbing
						li.tabs-default Emergency Plumbing
						li.tabs-default Outdoor Plumbing
					.resp-tabs-container
						div Our plumbing company offers a variety of services for commercial companies. We do Crawl Space Plumbing, Handicap Plumbing & Copper Piping among everything else...
						div You simply never know when a faucet may go out of order, a pipe freezes or blows up or a water damage happens. Aware of that factor of surprise, our company works on a 24/7/365 schedule!
						div Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.
section.offset-top-50.offset-sm-top-120
	.shell
		h4.text-center.text-sm-left Tabs
		.range.offset-top-40
			.cell-md-8
				.responsive-tabs.vertical-tabs.clearfix.offset-top-15(data-type="vertical")
					ul.resp-tabs-list
						li.tabs-default Outdoor Plumbing
						li.tabs-default Emergency Plumbing
						li.tabs-default Commercial Plumbing

					.resp-tabs-container.text-xs-left
						div.fadeIn.animated
							p Our company provides timely and cost-efficient assistance when homeowners are experiencing a number of outdoor plumbing-related problems.
						div.fadeIn.animated
							p You simply never know when a faucet may go out of order, a pipe freezes or blows up or a water damage happens. Aware of that factor of surprise, our company works on a 24/7/365 schedule!
						div.fadeIn.animated
							p Our plumbing company offers a variety of services for commercial companies. We do Crawl Space Plumbing, Handicap Plumbing & Copper Piping among everything else...
